<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tw.sunny.finalproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CareInfoActivity"
            android:label="衛教資訊" />
        <activity android:name=".CareInfoDetailActivity"
            android:label="衛教資訊"/>
        <activity
            android:name=".ExitActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:autoRemoveFromRecents="true"/>
        <activity
            android:name=".StartActivity"
            android:label="畢專一路發">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/text_login"/>
        <activity
            android:name=".ForgetPasswordActivity"
            android:label="忘記密碼"/>
        <activity
            android:name=".RegisterActivity"
            android:label="註冊"/>
        <activity
            android:name=".RegisterChangeImageActivity"
            android:label="註冊02"/>
        <activity
            android:name=".RegisterChangeSportActivity"
            android:label="註冊03"/>
        <activity
            android:name=".MainActivity"
            android:label="主畫面"/>
        <activity
            android:name=".ShootActivity"
            android:label="拍照上傳"/>
        <activity
            android:name=".ShootPostActivity"
            android:label="拍照上傳"/>
        <activity
            android:name=".ShootPhotoFoodInfActivity"
            android:label="餐點資訊"/>
        <activity
            android:name=".ShootFoodInfoDetailActivity"
            android:label="食材挑選"/>
        <activity
            android:name=".SettingMainActivity"
            android:label="設定"/>
        <activity
            android:name=".SearchingMainActivity"
            android:label="搜尋"/>
        <activity
            android:name=".SearchingActivity"
            android:label="好吃搜尋"/>
        <activity
            android:name=".SearchingMapActivity"
            android:label="地圖規劃"/>
        <activity
            android:name=".SearchingMapResultActivity"
            android:label="推薦餐廳"/>
        <activity
            android:name=".SettingEditMemActivity"
            android:label="設定個人頁面"/>
        <activity
            android:name=".SettingRequestActivity"
            android:label="回報問題"/>
        <activity
            android:name=".RecordMainActivity"
            android:label="飲食記錄"/>
        <activity
            android:name=".RecordDmManageActivity"
            android:label="疾病管理"/>
        <activity
            android:name=".RecordDMBActivity"
            android:label="血糖紀錄"/>
        <activity android:name=".RecordDmGraphicActivity"
            android:label="圖表分析"/>
        <activity android:name=".RecordDmAnalysisActivity"
                  android:label="圖表分析"/>
        <activity android:name=".RecordFoodDetailActivity"
            android:label="詳細分析"/>

        <activity
            android:name=".RecordDMCheckRegularActivity"
            android:label="定期檢查"/>
        <activity
            android:name=".RecordPersonalActivity"
            android:label="個人紀錄"/>
        <activity
            android:name=".RecordDetailActivity"
            android:label="詳細資料"/>
        <activity
            android:name=".RecordFoodActivity"
            android:label="飲食分析"/>
        <activity
            android:name=".RecordRemindActivity"
            android:label="營養提醒"/>
        <activity
            android:name=".MapsMainActivity"
            android:label="地圖"/>
        <activity android:name=".SettingPersonalPage1"
            android:label="個人資料修改" />
        <activity android:name=".SettingPersonalPage2"
                  android:label="個人資料修改" />
        <activity android:name=".SettingPersonalPage3"
                  android:label="個人資料修改" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1733527306889936"
            android:exported="true"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>