<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.sunny.finalproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".StartActivity"
            android:label="畢專一路發">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/text_login" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:label="忘記密碼" />
        <activity
            android:name=".RegisterActivity"
            android:label="註冊" />
        <activity
            android:name=".MainActivity"
            android:label="主畫面" />
        <activity
            android:name=".ShootActivity"
            android:label="拍照上傳" />
        <activity
            android:name=".ShootCodeActivity"
            android:label="Barcode or QRcode資訊" />
        <activity
            android:name=".ShootPostActivity"
            android:label="拍照上傳" />
        <activity
            android:name=".ShootRating"
            android:label="評分" />
        <activity
            android:name=".ShootPhotoActivity"
            android:label="搜尋餐點" />
        <activity
            android:name=".ShootPhotoFoodInfActivity"
            android:label="餐點資訊" />
        <activity
            android:name=".ShootInsertDataActivity"
            android:label="協助建檔" />
        <activity
            android:name=".SettingMainActivity"
            android:label="設定" />
        <activity
            android:name=".SearchingActivity"
            android:label="搜尋" />
        <activity
            android:name=".SearchingPhotoActivity"
            android:label="照片" />
        <activity
            android:name=".LocationMainActivity"
            android:label="定點規劃" />
        <activity
            android:name=".LocationCommonActivity"
            android:label="餐廳評論" />
        <activity
            android:name=".LocationQueryActivity"
            android:label="選擇地點規劃" />
        <activity
            android:name=".LocationRestaurantActivity"
            android:label="附近推薦餐廳列表" />
        <activity
            android:name=".LocationSuggestActivity"
            android:label="推薦餐廳列表" />
        <activity android:name=".SettingEditMemActivity"
            android:label="設定個人頁面"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
        android:name=".MapsMainActivity"
        android:label="@string/title_activity_maps_main"></activity>
        <provider
            android:authorities="com.facebook.app.FacebookContentProvider1733527306889936"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"/>
    </application>

</manifest>